<link rel="stylesheet" href="/stylesheets/style.css">
<div class="container">
    <div class="start-menu">
    <a class="game" href="/game">
        <p style="center">Start the Game</p>
    </a>
    <a class="infobox" href="/info-box">
        <p style="center">Go to The Infobox</p>
    </a>
</div>
</div>

<style>
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text {
        text-align: center;
    }
</style>