<div class="show-container">
    <div class="show-score">
        <h5>The Score is : <h3>{{score}}</h3></h5>
        
        <h5>The Date it is achieved : <br />{{date}}</h5>
        <br/>
    </div>
</div>